# Keil 编译产物
MDK/Objects/
MDK/ObjectsBoot/
MDK/ObjectsApp/
MDK/Listings/
MDK/ListingsBoot/
MDK/ListingsApp/
MDK/*.uvguix*
MDK/*_codex.log
MDK/*.log
MDK/*.uvoptx

# EIDE 编译产物
MDK/build/
MDK/BootEIDE/build/
MDK/.eide/
!MDK/.eide/
!MDK/.eide/**
MDK/.cmsis/
MDK/.vscode/

# 调试器备份文件
MDK/interface/
MDK/target/
MDK/BootEIDE/interface/
MDK/BootEIDE/target/

# IDE 配置
.vscode/*
!.vscode/launch.json
